body{
  margin: 0;
  background-color:azure;
}

.drop-container {
  min-height: 100%;
	display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 400px;
  padding: 30px;
}


.drop-container.box-1 {
  text-align: center;
  color: white;
  font-family: sans-serif;
  font-size: 36px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60px;
}

.drop-container.box-2 {
  text-align: center;
  color: white;
  font-family: sans-serif;
  font-size: 36px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 10px;
}

